@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container">
    <h1>Credentials Manager</h1>
    <div class="col-md-10 text-danger">
        @Model.Message
    </div>
</div>